<ion-header>
  <ion-toolbar>
    <ion-title>Użytkownicy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Lorem ipsum dolor sit amet.</ion-card-subtitle>
      <ion-card-title>Lorem ipsum dolor sit amet.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi placeat sunt totam veritatis. Culpa est eum explicabo facilis sint. Distinctio.</p>
    </ion-card-content>
    <div style="display: flex; padding: 0 16px 16px 16px; justify-content: flex-end;">
      <ion-button slot="end">Edytuj</ion-button>
      <ion-button slot="end" color="danger">Deaktywuj</ion-button>
    </div>
  </ion-card>
</ion-content>
