<ion-header>
  <ion-toolbar>
    <ion-title>{{(isLoginMode | async) ? 'Zaloguj się' : 'Zarejestruj się'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoading | async"></ion-progress-bar>
  <ion-grid>
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmitClick()">
      <ng-container *ngIf="!(isLoginMode | async)">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock"></ion-icon>
            Imię
          </ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-label class="validation-message" *ngIf="!credentialsForm.get('firstName').valid && credentialsForm.get('firstName').touched" color="danger">Pole wymagane</ion-label>
      </ng-container>

      <ng-container *ngIf="!(isLoginMode | async)">
        <ion-item>
          <ion-label position="floating">
            <ion-icon name="lock"></ion-icon>
            Nazwisko
          </ion-label>
          <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>
        <ion-label class="validation-message" *ngIf="!credentialsForm.get('lastName').valid && credentialsForm.get('lastName').touched" color="danger">Pole wymagane</ion-label>
      </ng-container>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail"></ion-icon>
          Email
        </ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
        <ion-label class="validation-message" *ngIf="!credentialsForm.get('email').valid && credentialsForm.get('email').touched" color="danger">Wprowadź proszę prawidłowy adres email</ion-label>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock"></ion-icon>
          Hasło
        </ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-label class="validation-message" *ngIf="!credentialsForm.get('password').valid && credentialsForm.get('password').touched" color="danger">Minimum 8 znaków, w tym jedna cyfra</ion-label>

      <ion-item *ngIf="!(isLoginMode | async)" lines="none" class="ion-no-padding">
        <ion-toggle formControlName="termsAccepted"></ion-toggle>
        <ion-label class="ion-text-wrap">Akceptuję Regulamin Korzystania z Aplikacji i Politykę Prywatności
        </ion-label>
      </ion-item>

      <ion-button expand="block" [disabled]="!credentialsForm.valid" type="submit">{{(isLoginMode | async) ? 'Zaloguj się' : 'Zarejestruj się'}}
      </ion-button>

      <ion-item lines="none">
        <ion-label class="ion-text-center">{{(isLoginMode | async) ? 'Nie masz konta?' : 'Masz już konto?'}} <span class="changeState" (click)="toggleState()">{{(isLoginMode | async) ? 'Zarejestruj się' : 'Zaloguj się'}}</span></ion-label>
      </ion-item>
    </form>
  </ion-grid>
</ion-content>
