<ion-header>
  <ion-toolbar>
    <ion-title>Kontakt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/contact.jpg" alt=""></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Masz pytanie?</ion-card-subtitle>
      <ion-card-title>Skontaktuj się z nami</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Jesteś zachwycony działaniem aplikacji albo chcesz nas pochwalić? Zadzwoń do nas albo wyślij maila.</p>
      <a href="tel:+48321321321"><ion-button expand="block"><ion-icon slot="icon-only" name="call"></ion-icon>&nbsp;Zadzwoń</ion-button></a>
      <a href="mailto:misie@pysie.pl"><ion-button expand="block"><ion-icon slot="icon-only" name="mail"></ion-icon>&nbsp;Wyślij maila</ion-button></a>
    </ion-card-content>
  </ion-card>
</ion-content>
