<ion-header>
  <ion-toolbar>
    <ion-title>Książki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading | async"></ion-progress-bar>
  <ion-card *ngFor="let book of books | async">
    <ion-card-header>
      <ion-card-subtitle>Ilość stron: {{book.numberOfPages}}, isbn: {{book.isbn}}</ion-card-subtitle>
      <ion-card-title>{{book.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{book.description}}</p>
    </ion-card-content>
    <div style="display: flex; padding: 0 16px 16px 16px; justify-content: flex-end;">
      <ion-button slot="end" color="danger" [disabled]="true">Deaktywuj</ion-button>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addBook()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
