<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Wypożycz książkę</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading | async"></ion-progress-bar>
  <ion-grid>
    <form [formGroup]="borrowBookForm" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col>
          <p class="ion-text-center">Uzupełnij proszę poniższe dane, aby wypożyczyć książkę</p>
          <ion-item>
            <ion-datetime
                [min]="minDate"
                max="2022"
                displayFormat="DD MM YYYY"
                placeholder="Data wypożyczenia"
                formControlName="accessStart"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-datetime
                [min]="minDate"
                max="2022"
                displayFormat="DD MM YYYY"
                placeholder="Data zwrotu"
                formControlName="accessEnd"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="!borrowBookForm.valid">Wypożycz</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
