<ion-header>
  <ion-toolbar>
    <ion-title>Moje książki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading | async"></ion-progress-bar>
  <ng-container *ngIf="!read">
    <ion-card *ngFor="let book of myBooks | async">
      <ion-card-header>
        <ion-card-subtitle>Ilość stron: {{book.numberOfPages}}, isbn: {{book.isbn}}</ion-card-subtitle>
        <ion-card-title>{{book.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{book.description}}</p>
      </ion-card-content>
      <div style="display: flex; padding: 0 16px 16px 16px; justify-content: flex-end;">
        <ion-button slot="end" (click)="toggleRead()">Czytaj</ion-button>
      </div>
    </ion-card>
  </ng-container>

  <ion-card *ngIf="read">
    <ion-card-content class="book">
      <ion-icon name="close-circle-outline" color="primary" (click)="toggleRead()"></ion-icon>
      <h1 class="book-content">Lorem ipsum dolor sit amet.</h1>
      <p class="book-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aspernatur, commodi
        consequuntur culpa
        delectus
        eius enim est eum excepturi facilis hic labore maiores minima molestiae, nobis non nulla porro praesentium quod
        repellat sequi soluta veniam veritatis voluptatibus. Maxime minus neque obcaecati pariatur quam sequi sit
        tempora
        tenetur ullam velit! Consectetur corporis quas voluptas. A aperiam assumenda beatae commodi corporis deserunt
        ducimus eligendi eveniet hic, illum iste maiores natus odio odit officiis optio pariatur praesentium quaerat
        quis
        reiciendis tempora voluptas voluptatum! Ad ea eveniet explicabo facilis nulla. Asperiores, autem commodi
        deserunt
        dolorem facilis ipsum maiores molestias quidem rem, repellendus, voluptates!</p>

      <p class="book-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur assumenda cum
        cumque deserunt
        dignissimos eligendi enim explicabo illo impedit in inventore iusto magnam, minima molestias mollitia natus
        nulla odio, possimus quia ratione recusandae rem repellat reprehenderit sapiente sed suscipit temporibus unde
        voluptates, voluptatibus? Asperiores dicta dignissimos ducimus eligendi esse in itaque labore magnam molestiae
        molestias nam, nihil nisi quam ratione reprehenderit vero voluptate, voluptates. Alias amet dolore doloremque
        dolores ea explicabo facilis fugiat fugit, modi natus odit, quam quibusdam reiciendis rem repellat sapiente,
        suscipit ut veritatis voluptas voluptatum. Autem debitis laudantium magni molestias nostrum perspiciatis quasi
        quos sapiente sint tenetur. Consequuntur culpa cum delectus deleniti, dicta, esse et facere inventore neque quas
        reprehenderit repudiandae sit voluptas? Ab autem, commodi distinctio eligendi eveniet ex facere facilis fuga in
        iste nihil nobis non quam quasi quia quidem quo voluptate? Accusantium dicta enim et eveniet hic illo laboriosam
        molestias provident quaerat, quasi ratione similique soluta tempore tenetur, ullam! Eius iure iusto modi omnis
        possimus quibusdam quisquam suscipit! Accusamus aliquam aliquid culpa cumque cupiditate deleniti dolor doloribus
        iusto magnam, nulla quae qui quia quos sequi totam. Assumenda deleniti dicta error laudantium libero, nemo nobis
        voluptate. Ab ad amet, dignissimos dolorum ea earum enim facilis magni nobis nostrum pariatur quibusdam quo
        reiciendis, repellendus sunt, veniam vero! Ab deserunt dolorum eligendi fugiat inventore ipsa laboriosam odit,
        quia! Aliquam atque, dolore est id libero nemo saepe? Accusamus adipisci alias aperiam deleniti facilis in
        molestias obcaecati perspiciatis qui voluptates! Accusantium amet illo incidunt nihil numquam odit quo,
        voluptatibus! Aliquid animi architecto, aspernatur assumenda cumque ex illum ipsam magnam magni nobis odit quis
        quisquam repellat saepe sint sunt temporibus voluptate. Ab alias assumenda beatae dolore dolores et explicabo,
        non obcaecati odio omnis sunt totam velit! Adipisci alias esse, hic maiores minima possimus praesentium qui
        quibusdam recusandae unde? Qui!</p>

      <p class="book-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aspernatur, commodi
        consequuntur culpa
        delectus
        eius enim est eum excepturi facilis hic labore maiores minima molestiae, nobis non nulla porro praesentium quod
        repellat sequi soluta veniam veritatis voluptatibus. Maxime minus neque obcaecati pariatur quam sequi sit
        tempora
        tenetur ullam velit! Consectetur corporis quas voluptas. A aperiam assumenda beatae commodi corporis deserunt
        ducimus eligendi eveniet hic, illum iste maiores natus odio odit officiis optio pariatur praesentium quaerat
        quis
        reiciendis tempora voluptas voluptatum! Ad ea eveniet explicabo facilis nulla. Asperiores, autem commodi
        deserunt
        dolorem facilis ipsum maiores molestias quidem rem, repellendus, voluptates!</p>

      <p>...</p>
    </ion-card-content>
  </ion-card>
</ion-content>
