.book {
  ion-icon {
    font-size: 24px;
    position: absolute;
    right: 30px;
    &:hover {
      cursor: pointer;
    }
  }

  &-content {
    margin-bottom: 16px;
    text-align: justify;
  }
}
