<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>
            Nawigacja
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item *ngIf="(user | async)" [routerDirection]="'root'" [routerLink]="'/search'">
            <ion-icon slot="start" name="search"></ion-icon>
            <ion-label>
              Wyszukiwarka
            </ion-label>
          </ion-item>
          <ion-item *ngIf="(user | async)" [routerDirection]="'root'" [routerLink]="'/my-books'">
            <ion-icon slot="start" name="book"></ion-icon>
            <ion-label>
              Moje książki
            </ion-label>
          </ion-item>
          <ion-item *ngIf="!(user | async)" [routerDirection]="'root'" [routerLink]="'/auth'">
            <ion-icon slot="start" name="log-in"></ion-icon>
            <ion-label>
              Dołącz
            </ion-label>
          </ion-item>
          <ion-item *ngIf="(user | async)" [routerDirection]="'root'" [routerLink]="" (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              Wyloguj się
            </ion-label>
          </ion-item>
          <ng-container *ngIf="(user | async)?.isAdmin">
            <ion-list-header>
              Administrator
            </ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appAdminPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item class="fake-hover" [routerDirection]="'root'" routerLink="" (click)="gotoAPI()">
                <ion-icon slot="start" name="construct"></ion-icon>
                <ion-label>
                  API
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
