<ion-header>
  <ion-toolbar>
    <ion-title>Szukaj książki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="searchForm">
      <ion-searchbar formControlName="book" debounce="500" placeholder="Wpisz nazwę książki"></ion-searchbar>
      <ion-item *ngIf="!searchForm.get('book').valid && searchForm.get('book').touched"
                lines="none">
        <ion-label color="danger">Wprowadź proszę prawidłową nazwę książki</ion-label>
      </ion-item>
    </form>
  </ion-grid>

  <p class="ion-text-center" *ngIf="notFound">Nie znaleziono książki o wskazanym tytule</p>

  <ion-card *ngFor="let book of filteredBooks | async">
    <ion-card-header>
      <ion-card-subtitle>Ilość stron: {{book.numberOfPages}}, isbn: {{book.isbn}}</ion-card-subtitle>
      <ion-card-title>{{book.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{book.description}}</p>
    </ion-card-content>
    <div style="display: flex; padding: 0 16px 16px 16px; justify-content: flex-end;">
      <ion-button slot="end" (click)="borrowABook(book)">Wypożycz</ion-button>
    </div>
  </ion-card>
</ion-content>
