<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/home.jpg" alt=""></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Najlepsze książki w mieście</ion-card-subtitle>
      <ion-card-title>Biblioteka na miarę naszych potrzeb</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nasza księgarnia internetowa oferuje książki. Nowości wydawnicze przeplatają się tu z klasykami.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
