<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-item *ngIf="user | async as user; else elseBlock;">
      <ion-icon name="contact" ></ion-icon>
      <ion-label>{{user.username }}</ion-label>
    </ion-item>
    <ng-template #elseBlock>
      <ion-item>
        <ion-label>Zaloguj się, aby zobaczyć swoje dane.</ion-label>
      </ion-item>
    </ng-template>
  </ion-card>
</ion-content>
