<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dodaj książkę</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading | async"></ion-progress-bar>
  <ion-grid>
    <form [formGroup]="newBookForm" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col>
          <p class="ion-text-center">Uzupełnij proszę poniższe dane, aby dodać nową książkę</p>
          <ion-item>
            <ion-label position="floating">Tytuł</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">ISBN</ion-label>
            <ion-input type="text" formControlName="isbn"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ilość stron</ion-label>
            <ion-input type="number" formControlName="numberOfPages"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Opis</ion-label>
            <ion-textarea type="text" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="!newBookForm.valid">Dodaj</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
